<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>Users &laquo; Admin</title>
  <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="/assets/css/admin.css">
  <script src="/assets/vendors/nprogress/nprogress.js"></script>
  <style type="text/css">
    .error {
      color: red;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="page-title">
    </div>
    <div class="row">
      <div class="col-md-4">
        <form id="addForm">
          <h2>添加新管理员</h2>
          <div class="form-group">
            <label for="email">邮箱</label>
            <input id="email" class="form-control" name="email" type="email" placeholder="邮箱">
          </div>
          <div class="form-group">
            <label for="nickname">昵称</label>
            <input id="nickname" class="form-control" name="nickname" type="text" placeholder="昵称">
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input id="password" class="form-control" name="password" type="text" placeholder="密码">
          </div>
          <div class="form-group">
            <label for="password2">密码确认</label>
            <input id="password2" class="form-control" name="password2" type="text" placeholder="密码确认">
          </div>
          <div class="form-group">
            <label for="state">状态</label>
            <input name="state" type="radio" value="激活">激活
            <input name="state" type="radio" value="禁用">禁用
          </div>
          <div class="form-group">
            <button id="addBtn" class="btn btn-primary" type="submit">添加</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/assets/vendors/jquery/jquery.js"></script>
  <script src="/assets/vendors/bootstrap/js/bootstrap.js"></script>
  <script src="/assets/vendors/validate/jquery.validate.js"></script>
  <script src="/assets/vendors/layer/layer.js"></script>
  

  <script>
    $('#addForm').validate({
      rules: {
        email: {
          required: true,
          email: true,
          rangelength: [5, 20]
        },
        nickname: {
          required: true,
          rangelength: [5, 20]
        },
        password: {
          required: true,
          rangelength: [5, 20]
        },
        password2: {
          equalTo: '#password'
        }
      },
      messages: {
        email: {
          required: '用户名必填',
          email: '用户名必须是一个邮箱',
          rangelength: '用户的长度必须在5-20位之间'
        },
        nickname: {
          required: '昵称必填',
          rangelength: '昵称长度必须在5-20位之间'
        },
        password: {
          required: '密码必填',
          rangelength: '密码长度必须在 5-20 位之间'
        },
        password2: {
          equalTo: '两次密码不一致'
        }
      },
      submitHandler: function () {
        //通过验证之后,发送ajax请求并将数据一起发送给后端
        $.ajax({
          url: '/admin/user/addUserDeal',
          type: 'post',
          data: $('#addForm').serialize(),
          dataType: 'json',
          success: function (result) {
            console.log(result);
            //提示删除结果
            parent.layer.alert(result.message, function (index_alert) {
              //当添加成功时，关闭弹出层，显示新添加的数据
              if (result.code == 200) {
                //只要使用type=2弹出的另一个网页，获取该网页的索引
                //就必须使用下列代码
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);

                //刷新父页面
                parent.location.reload();
              }
              parent.layer.close(index_alert);
            });
          }
        })
      }

  })
  </script>
  </body>
  </html>