{{extend '../layouts/layout.html'}}

{{block 'body'}}
<div class="container-fluid">
    <div class="page-title">
      <h1>我的个人资料</h1>
    </div>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">头像</label>
        <div class="col-sm-6">
          <label class="form-image">
            <input id="avatar" type="file">
            <img id="avatar_img"  src="{{admin_pic}}">
            <input id="avatar_hidden" type="hidden" name="pic" />
            <i class="mask fa fa-upload"></i>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">邮箱</label>
        <div class="col-sm-6">
          <input id="email" class="form-control" name="email" type="type" value="{{admin_email}}" placeholder="邮箱" readonly>
          <p class="help-block">登录邮箱不允许修改</p>
        </div>
      </div>
      <div class="form-group">
        <label for="nickname" class="col-sm-3 control-label">昵称</label>
        <div class="col-sm-6">
          <input id="nickname" class="form-control" name="nickname" type="type" value="{{admin_nickname}}" placeholder="昵称">
          <p class="help-block">限制在 2-16 个字符</p>
        </div>
      </div>
      <div class="form-group">
        <label for="bio" class="col-sm-3 control-label">简介</label>
        <div class="col-sm-6">
          <textarea id="bio" class="form-control" placeholder="Bio" cols="30" rows="6">{{admin_sign}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <button type="button" class="btn btn-primary">更新</button>
          <a class="btn btn-link" href="/admin/center/repassword"">修改密码</a>
        </div>
      </div>
    </form>
  </div>
  {{/block}}

  {{block 'js'}}
 <script>

  $('#avatar').change(function(){
    //1.获取文件对象
    var fileObj=document.getElementById('avatar').files[0];
    //实例化一个空的FormData
    var fd=new FormData();
    //将文件对象存入fd
    fd.append('avatar',fileObj);
    //2.发送ajax请求给后端(/api/uploads)
    $.ajax({
      url:"/api/uploads",
      type:"post",
      data:fd,
      dataType:'json',
      contentType:false,
      processData:false,
      success:function(result){
        alert(result.message);
        //修改头像img标签的src地址
        $('#avatar_img').attr('src',result.path);
        //将新地址写入图片对应的隐藏域
        $('#avatar_hidden').val(result.path);
      }
    })
  })

  //在更新按钮上注册点击事件,并发送ajax请求
  $('.btn-primary').click(function(){
    $.ajax({
      url:'/api/center/personal',
      type:'post',
      data:$('.form-horizontal').serialize(),
      dataType:'json',
      success:function(result){
        console.log(result);
        alert(result.message);
      }
    })
  });
 </script>
{{/block}}

  