<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Sign in &laquo; Admin</title>
  <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body>
  <div class="login">
    <form class="login-wrap">
      <img class="avatar" src="/assets/img/default.png">
      <div class="form-group">
        <label for="email" class="sr-only">邮箱</label>
        <input id="email" type="email" value="admin@ali.com" name="email" class="form-control" placeholder="邮箱" autofocus>
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">密码</label>
        <input id="password" type="password"   name="passwd" class="form-control" placeholder="密码">
      </div>
      <a class="btn btn-primary btn-block" href="javascript:;">登 录</a>
    </form>
  </div>

  <script src="/assets/vendors/jquery/jquery.min.js"></script>
  <script>
    //登录按钮注册点击事件
    $('.btn-primary ').click(function(){
      //发送ajax请求并将用户名和密码一起发送给后端
      $.ajax({
        url:'/admin/checkLogin',
        type:'post',
        data:$('.login-wrap').serialize(),
        dataType:'json',
        success:function(result){
          console.log(result);
          alert(result.message);
          //如果成功,跳转到后台首页   /admin/index
          if(result.code==200){
            location.href='/admin/index'
          }
        }       
      })
    })
  </script>
</body>
</html>
