{{extend '../layouts/layout.html'}}

{{block 'body'}}
<div class="container-fluid">
  <div class="page-title">
    <h1>图片轮播</h1>
  </div>
  <!-- 有错误信息时展示 -->
  <!-- <div class="alert alert-danger">
      <strong>错误！</strong>发生XXX错误
    </div> -->
  <div class="row">
    <div class="col-md-4">
      <form id="addSildes">
        <h2>添加新轮播内容</h2>
        <div class="form-group">
          <label for="image">图片</label>
          <!-- show when image chose -->
          <img class="help-block thumbnail" style="display: none">
          <input id="image" class="form-control" name="image" type="file">
          <input type="hidden" name="image_hidden">
        </div>
        <div class="form-group">
          <label for="text">文本</label>
          <input id="text" class="form-control" name="text" type="text" placeholder="文本">
        </div>
        <div class="form-group">
          <label for="link">链接</label>
          <input id="link" class="form-control" name="link" type="text" placeholder="链接">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">添加</button>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <div class="page-action">
        <!-- show when multiple checked -->
        <a class="btn btn-danger btn-sm" href="javascript:;" style="display: none">批量删除</a>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" width="40"><input type="checkbox"></th>
            <th class="text-center">图片</th>
            <th>文本</th>
            <th>链接</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><input type="checkbox"></td>
            <td class="text-center"><img class="slide" src="/uploads/slide_1.jpg"></td>
            <td>XIU功能演示</td>
            <td>#</td>
            <td class="text-center">
              <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
          <tr>
            <td class="text-center"><input type="checkbox"></td>
            <td class="text-center"><img class="slide" src="/uploads/slide_2.jpg"></td>
            <td>XIU功能演示</td>
            <td>#</td>
            <td class="text-center">
              <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{{/block}}

{{block 'js'}}
<script  src="/assets/vendors/art-template/template-web.js"></script>
<script type="text/html" id="picList">

{#each data#}
<tr>
  <td class="text-center"><input type="checkbox"></td>
  <td class="text-center"><img class="slide" src="{#$value.pic_url#}"></td>
  <td>{#$value.pic_text#}</td>
  <td>{#$value.pic_link#}</td>
  <td class="text-center">
    <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
  </td>
</tr>
{#/each#} 
</script>


<script>
  //页面载入时发送ajax请求，调用获取图片信息的数据接口
template.defaults.rules[1].test = /{#([@#]?)[ \t]*(\/?)([\w\W]*?)[ \t]*#}/;

  $.ajax({
    url: '/api/other/slides',
    type: 'post',
    dataType: 'json',
    success: function (result) {
      console.log(result);
      var str=template('picList',result);
      $('tbody').html(str);
    }
  })

  //在文件域上注册change事件
  $('#image').change(function(){
    var fileObj=$(this)[0].files[0];
    var fd=new FormData();
    fd.append('avatar',fileObj);

    $.ajax({
    url: '/api/uploads',
    type: 'post',
    data: fd,
    dataType: 'json',
    contentType: false,
    processData: false,
    success: function (result) {
      console.log(result);
      alert(result.message);
      //上传成功后将文件路径写入 图片(img)标签 和 隐藏域标签中
      if (result.code == 200) {
        $('.thumbnail').attr('src', result.path).show();
        $('[name=image_hidden]').val(result.path);
      }
    }
  })
  })


  //图片轮播-在添加按钮上注册点击事件,发送ajax请求
  $('.btn-primary').click(function () {
  $.ajax({
    url: '/admin/other/addSildes',
    type: 'post',
    data: $('#addSildes').serialize(),
    dataType: 'json',
    success: function (result) {
      console.log(result);
      //如果添加成功，则将新数据追加到表格中
      var str = template('addpic', result);
      $('tbody').append(str);
    }
  })
})
</script>

{{/block}}